* {
    font-family: "Roboto Mono", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    margin: 0;
    padding: 0;
}

:root {
    --main-bg-color: hsla(206, 42%, 93%, 0.836);
}

header {
    background-color: var(--main-bg-color);
    text-align: center;
    min-height: 10vh;
    width: 100%;
    padding: 10px;
    box-shadow: 2px 3px 14px ;
}

body {
    overflow: hidden;
    background-color: rgba(45, 182, 136, 0.926);
}
.container{
    display: flex;
    justify-content: center;
    
}
.box {
    height: 70vh;
    width: 35vw;
    background-color: var(--main-bg-color);
    padding: 10px;
    margin: 60px auto;
    border-radius: 7px;
    box-shadow: 5px 5px 15px 5px ;
    text-align: center;
    overflow: scroll;
    min-width: 363.3px;
}

.guess {
    position: relative;
    top: 7vh;
    font-size: 2vw;
    padding: 5px;
    margin-top: 6px;
    margin-bottom: 6px;
}

#Congrat {
    font-size: 2vw;
    padding-bottom: 0;
}

#Out {
    padding-bottom: 0;
    font-size: 2vw;
}

#image {
    height: 25vh;
    margin: 5px auto;
    display: none;
}

.box2 {
    display: inline-block;
}