@media screen and (max-width: 500px) {
    body {
        /* overflow: hidden; */
    }

    .guess {
        font-size: 5vw;
        margin-top: 6px;
        margin-bottom: 6px;
    }

    .box {
        margin: 40px auto;
        height: 60vh;
    }

    .btn {
        padding: 2px;
    }

    #Congrat {
        font-size: 5vw;
    }

    #Out {
        font-size: 5vw;
    }

    #image {
        height: 20vh;
    }
}